body{
  width: 100vw;
  height: 100vh;
}

.card {
  max-width: 400px;
  background-color: #B4B3E3;
}

.title{
  display: flex;
  justify-content: center;
}

.subtitle{
  display: flex;
  justify-content: center;
}

.full-width {
  margin-top: 10px;
  width: 100%;
}

.button{
  width: 100%;
}




